<app-header></app-header>
<mat-drawer-container autosize>
  <mat-drawer opened #drawer mode="side">
    <nav>
      <mat-toolbar>
          <mat-toolbar-row>
            <button class="sidenav-button" mat-button routerLink="/home" routerLinkActive="active">
              <a>Home</a>
            </button>
          </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/installation" routerLinkActive="active">
            <a>Installation</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/me" routerLinkActive="active">
            <a>Über mich</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/animations" routerLinkActive="active">
            <a>Animationen</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/video" routerLinkActive="active">
            <a>Bilder & Videos</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/about" routerLinkActive="active">
            <a>About</a>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
  </mat-drawer>
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
