.sidenav-button {
  margin: 15px;
  padding: 10px;
  width: 80%;
}

body {
  height: 100%
}

mat-drawer-container {
  min-height: 92%;
}

mat-toolbar-row {
  padding: 10px;
}


#container {
  padding: 20px;
}
